@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Montserrat";
  font-weight: 300;
}
img {
  filter: inherit !important;
}
.caveat_font {
  font-family: "Caveat" !important;
}
.dm_sans_font {
  font-family: "DM_Sans" !important;
}
